@import url(./normalize.css);

body {
    background-color: rgb(36, 18, 41);
    color: rgba(255, 255, 255, 0.548);
    width: 100vh;
    height: 100vh;
}

.users-container {
    display: flex;
    width: 50vh;
    gap: 2px;
}

.img-users {
    width: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 10px;
}

span .bi-circle-fill {
    color: rgba(72, 255, 0, 0.548);
    background-color: rgb(37, 18, 41);
    display: flex;
    position: relative;
    padding: 3px;
    right: 20px;
    top: 30px;
    border-radius: 50px;
    font-size: 10px;
}

span .bi-circle {
    background-color: rgb(37, 18, 41);
    display: flex;
    position: relative;
    padding: 3px;
    right: 20px;
    top: 30px;
    border-radius: 50px;
    font-size: 10px;
}

.users-names {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 18px;
}

.users-container:hover {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 15px;
    cursor: pointer;   
}